.github
**/.gitignore

*.code-workspace
**/.vscode/**
**/**.vsix

.pylintrc
**/__pycache__
**/**.pyc

**/.eslintrc.json
**/tsconfig.json

**/*.map
**/*.ts

media/demo/**
media/icon-font/*.svg
src/**
out/**
test/**
.vscode-test.mjs

CONTRIBUTING.md

node_modules/
!node_modules/**/[lL][iI][cC][eE][nN][sS][eE]*

webview-ui/src/**
webview-ui/public/**
webview-ui/scripts/**
webview-ui/**/*.bat
webview-ui/index.html
webview-ui/README.md
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/node_modules/**