*.code-workspace
**/.vscode/**
**/**.vsix
.github

**/__pycache__
**/**.pyc

.yarnrc
.pylintrc
**/.eslintrc.json
**/.gitignore
**/tsconfig.json

**/*.map
**/*.ts

build-scripts
builds/**
media/demo/**
media/icon-font/*.svg
src/**
test/**

node_modules/
!node_modules/**/[lL][iI][cC][eE][nN][sS][eE]*

webview-ui/src/**
webview-ui/public/**
webview-ui/scripts/**
webview-ui/**/*.bat
webview-ui/index.html
webview-ui/README.md
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/node_modules/**