#doc-details-header {
    padding: 0 11px;
    margin-bottom: 30px;
    margin-top: 3px;
    overflow: hidden;
    
    #doc-details-title {
        // Center text
        text-align: center;
        margin: 5px;
    }
}


.doc-details-member {
    padding: 0 11px;

    h4{
        margin-bottom: 5px;
    }

    .doc-details-doc {
        margin: 0px;

        p {
            margin: 0px;
        }
        opacity: 0.8;
    }

    .doc-details-name-hint {
        font-weight: normal;
        margin-left: -1px;
        opacity: 0.9;
    }

}

#doc-details-highlight {
    background-color: var(--vscode-list-inactiveSelectionBackground);
}

.main-content {
    height: calc(100% - 22px);
    overflow-x: hidden;
    overflow-y: scroll;
}