.category-header {
    background-color: var(--vscode-sideBarSectionHeader-background);
    height: 22px;
    
    h2 {
        line-height: 22px;
        color: var(--vscode-sideBarSectionHeader-foreground);
        
        font-weight: 700;
        font-size: 11px;
        
        cursor: pointer;
        
        margin: 0;
    }
}


.arrow {
    border-style: solid;
    border-color: var(--vscode-sideBarSectionHeader-foreground);
    border-width: 0 1px 1px 0;
    padding: 3px;
    display: block;
    width: fit-content;
    width: fit-content;
    float: left;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}