#loading {
    width: fit-content;
    margin: 50px auto;
}

#doc-index-content {
    padding: 0 22px;
    margin-bottom: 10px;
    overflow: hidden;

    span {
        font-weight: 500;
        font-size: 13px;
        cursor: pointer;
        margin: 0;
        width: fit-content;
        display: block;
    }

    span:hover {
        opacity: 0.7;
    }
}